:root {
  --primary: #6c5ce7;
  --bg: #f0f2f5;
  --sidebar-w: 240px;
}

.dashboard {
  display: grid;
  /* En móvil, todo en una sola columna */
  grid-template-areas:
    "header"
    "sidebar"
    "main"
    "footer";
  min-height: 100vh;

  .boton {
    display: none;
  }

  .sidebar__nav {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.2rem;
  }
}

/* En Desktop, activamos el Sidebar */
@media (min-width: 768px) {
  .dashboard {
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
    grid-template-columns: var(--sidebar-w) 1fr;

    .boton {
      display: inherit;
    }

    .sidebar__nav{
        margin-top: 2.2rem;
    }
  }

  /* Clase modificadora para ocultar sidebar con JS */
  .dashboard--no-sidebar {
    grid-template-columns: 0 1fr;
  }
}

.grid-stats {
  display: grid;
  /* MAGIA: Responsivo sin Media Queries */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.stat-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  border-bottom: 4px solid var(--primary);
}

/* Estilos de áreas */
.header {
  grid-area: header;
  background: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background: var(--primary);
  color: white;
  overflow: hidden;
  transition: 0.3s;

  .sidebar__nav a {
    text-decoration: none;
    color: var(--bg);
  }
}

.main {
  grid-area: main;
  background: var(--bg);
}

.footer {
  grid-area: footer;
  background: #2d3436;
  color: white;
  text-align: center;
  padding: 1rem;
}
.boton {
  display: inline-block;
  padding: 0.6rem;
  background: var(--primary);
  color: var(--bg);
  border-radius: 0.5rem;
}
