.dashboard {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 250px, 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  text-align: center;
  gap: 2px;
}

.header {
  grid-area: header;
  background: #ccc;
  padding: 5px;
}
.sidebar {
  grid-area: sidebar;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  grid-area: main;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  grid-area: footer;
  background: #ccc;
  padding: 5px;
}
