html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.contenedor__app {
  max-width: 50rem;
  margin: 2rem auto;
  text-align: center;
  border: solid .2rem #f4f4f4;
}

.tareas__titulo {
  font-size: 3.2rem;
}

#formulario__tarea{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#lista__tareas {
  margin: 3rem;
  list-style: none;
  padding: 0;
  max-width: 95%;
}

#lista__tareas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  margin-bottom: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 0.4rem;
}

.btn__eliminar {
  background: none;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
