& > * {
  padding: 10px;
  border: 1px solid #9999;
}

.grid__layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px auto 50px;
  text-align: center;
}

.header {
  grid-column: 1 / span 2;
  background: lightcoral;
}

.sidebar {
  grid-column: 1;
  grid-row: 2;
  background: lightblue;
}

.content {
  grid-column: 2 / span 2;
  grid-row: 2;
  background: lightgreen;
  min-height: 400px;
}

.footer {
  grid-column: 1 / span 2;
  background: lightgray;
}

.galeria__grid {
  display: grid;
  gap: 15px;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.tarjeta {
  background-color: #f8f8f8;
  padding: 20px;
  border: solid 1px #ddd;
  min-height: 50px;
  text-align: center;
  margin: auto 10px;
}

.contenedor-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: repeat(2, 100px);
  text-align: center;
}

.tarjetas {
  background-color: #f8f8f8;
  padding: 20px;
  border: solid 1px #ddd;
  min-height: 50px;
  text-align: center;
  margin: auto 10px;
}

.tarjetas {
  background-color: #f8f8f8;
  padding: 20px;
  border: solid 1px #ddd;
  min-height: 50px;
  text-align: center;
  margin: auto 10px;
}

.tarjeta1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.tarjeta2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.tarjeta3 {
  grid-column: 1 / span 4;
  grid-row: 2 / span 2;
}
